<p id="notice"><%= notice %></p>

<div id="image"class="container">
<p>
  <strong>Artist:</strong>
  <%= @artist.name %>
</p>

 <%= image_tag @artist.image.thumbnail%>

</div>
<br>
<div class="panel panel col-md-12">
  <div id="musics" onloadedmetadata=""class="panel-heading">Musics</div>

<div>
  <ul id="song_list">
    <% @artist.songs.each do |song| %>

    <li><%= song.name %> &nbsp;
      <button id="button" value="id_song" onClick="destroySong(); return false">Delete</button>
    </li>
    <% end %>
</div>

<br><br>
  <p> Add a new Song</p>


  <%= form_for [@artist, @artist.songs.new], html: { multipart:true } do |f| %>

  <div class="form-group">
    <label>Song name:</label>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.hidden_field :artist_id %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  <% end %>


  <br><br>
  <%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"%>
