<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%= render "shared/navbar" %>

    <%= yield %>

    <br><br>
    <%= link_to "All Artists", artists_path, class: "btn btn-default"%>
    <br><br>
    <%= link_to "Home page", root_path, class: "btn btn-default"%>
    <br><br>


<%= render "shared/footer" %>
  </body>
</html>
